/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* REGOLE GENERALI */
body {
    font-family: 'Montserrat', sans-serif;
}

ul {
    list-style: none;
}

/* FLEX */
.container-flex {
    display: flex;
    justify-content: space-between;
}

.flex-col {
    flex-direction: column;
}

/* VARIABILI */
:root {
    --debug-border: 2px dashed white;
    --debug-img-color: azure;
    --debug-maintitle-color: coral;
    --debug-title-color: lightgreen;
    --debug-subtitle-color: crimson;

    --main-margin: 2rem 0;
}