/* MEDIA TABLET */
@media screen and (max-width: 1100px) {
    /* interfaccia */
    .page-nav > ul {
        flex-wrap: wrap;
        justify-content: space-around;
        width: 100%;
        margin-top: 1rem;
    }

    .page-nav > ul > li {
        width: 20%;
        margin-bottom: 0.75rem;
    }

    #rec-played .cards {
        flex-wrap: wrap;
        justify-content: flex-start;
    }

    #rec-played .card {
        width: calc(25% - 0.75rem);
        margin-bottom: 0.75rem;
    }

    #for-user {
        width: 50%;
    }

    #pop-artists {
        width: 50%;
    }
}

/* MEDIA MOBILE GRANDE */
@media screen and (max-width: 700px) {
    
}

/* MEDIA MOBILE PICCOLO */
@media screen and (max-width: 600px) {
    
}