#app-screen {
    min-height: 600px;
}

/*********************************************
 SEZIONE LATERALE
*********************************************/
aside {
    background-color: black;
    width: 10%;
    height: 100vh;
    padding: 1rem 1rem 5rem;
}

aside header {
    flex-grow: 0;
}

aside main {
    flex-grow: 1;
}

aside footer {
    flex-grow: 0;
}

/***********************
 menù e playlist
************************/
aside > main > nav {
    margin: 1rem 0;
}

aside .playlists {
    overflow: auto;
}


/*********************************************
 INTERFACCIA
*********************************************/
#main-viewport {
    background-color: #141922;
    width: 90%;
    height: 100vh;
    padding-bottom: 4rem;
    overflow: scroll;
}

/***********************
 sezione upgrade
************************/
.upgrade-banner {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    position: sticky;
    top: 0;
    text-align: right;
    padding: 1rem 0;
    z-index: 20;
}

.upgrade-banner > button {
    background-color: transparent;
    border: 2px solid white;
    color: white;
    border-radius: 20px;
}

/***********************
 navigazione pagine
************************/
.page-nav > ul {
    width: 60%;
    margin: 1rem auto 0;
}

/***********************
 sezione recenti
************************/
#rec-played {
    padding: 1rem;
    margin: var(--main-margin);
    width: 100%;
}

#rec-played .cards {
    margin-top: 1.5rem;
}

#rec-played .card {
    margin-right: 0.75rem;
    width: calc((100% / 6) - 0.75rem);
}

/***********************
 sezione creati per l'utente
************************/
#for-user {
    padding: 1rem;
    margin: var(--main-margin);
    width: calc(100% / 3);
}

#for-user .cards {
    margin-top: 1.5rem;
}

#for-user .card {
    margin-right: 0.75rem;
    width: calc(50% - 0.75rem);
}

/***********************
 sezione artisti popolari
************************/
#pop-artists {
    padding: 1rem;
    margin: var(--main-margin);
    width: calc(100% / 3);
}

#pop-artists .cards {
    margin-top: 1.5rem;
}

#pop-artists .card {
    margin-right: 0.75rem;
    width: calc(50% - 0.75rem);
}

/*********************************************
 CONSOLE
*********************************************/
#console {
    background-color: #282828;
    width: 100%;
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 1rem;
}