#app-screen {
    height: calc(100vh - 4rem);
}

/*********************************************
 SEZIONE LATERALE
*********************************************/
aside {
    background-color: black;
    width: 8rem;
    height: 100%;
    padding: 1rem 1rem 5rem;
}

aside header {
    flex-grow: 0;
}

aside main {
    flex-grow: 1;
}

aside footer {
    flex-grow: 0;
}

/***********************
 menù e playlist
************************/
aside > main > nav {
    margin: 1rem 0;
}


/*********************************************
 INTERFACCIA
*********************************************/
#main-viewport {
    background-color: #141922;
    width: calc(100% - 8rem);
    overflow: auto;
}

/***********************
 sezione upgrade
************************/
.upgrade-banner {
    background-color: rgba(0, 0, 0, 0.5);
    position: sticky;
    top: 0;
    text-align: right;
    padding: 1rem 0 1.5rem;
    z-index: 20;
}

.upgrade-banner > button {
    background-color: transparent;
    border: 2px solid white;
    border-radius: 50px;
    padding: 0.7rem;
    width: 200px;
    margin-right: 5px;
}

.upgrade-banner > button > a {
    text-decoration: none;
    color: white;
}

/***********************
 navigazione pagine
************************/
.page-nav > ul > li {
    padding: 0.5rem;
}

.page-nav .underline-li > hr {
    border: 1px solid #adff2f;
    width: 33%;
    margin: 5px auto 0;
}

.page-nav a {
    text-decoration: none;
    color: var(--gray-color-text);
}

/***********************
 sezione recenti
************************/
#rec-played {
    padding: 1rem;
    margin: var(--main-margin);
    width: 100%;
}

#rec-played .cards {
    margin-top: 1.5rem;
}

#rec-played .card {
    margin-right: 0.75rem;
    width: calc((100% / 6) - 0.75rem);
    text-align: center;
}

/***********************
 sezione creati per l'utente
************************/
#for-user {
    padding: 1rem;
    margin: var(--main-margin);
    width: 100%;
}

#for-user p {
    margin-top: 0.5rem;
}

#for-user .cards {
    margin-top: 1.5rem;
}

#for-user .card {
    margin-right: 0.75rem;
    width: calc((100% / 6) - 0.75rem);
    text-align: center;
}

/***********************
 sezione artisti popolari
************************/
#pop-artists {
    padding: 1rem;
    margin: var(--main-margin);
    width: 100%;
}

#pop-artists p {
    margin-top: 0.5rem;
}

#pop-artists .cards {
    margin-top: 1.5rem;
}

#pop-artists .card {
    margin-right: 0.75rem;
    width: calc((100% / 6) - 0.75rem);
    text-align: center;
}

#pop-artists .card > .song-cover {
    border-radius: 50%;
    overflow: hidden;
}

/*********************************************
 CONSOLE
*********************************************/
#console {
    background-color: #282828;
    width: 100%;
    height: 4rem;
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 20;
}